results*

resources/**/*

validations/**/*

lib_construction_process_scripts/output

RNA_seq_preprocess/output
RNA_seq_process_scripts/output
pipelines/output

.vscode/**/*

rna_seq_results
analysis_results

D11/pipelines/output